<h1>New Item Creator</h1>

<%= render partial: "form" %><br>
<br>



<div class="input-field col s12">
  <select multiple>
    <option value="" disabled selected>Choose Categories</option>
    <% @categories.each do |category| %>
    <option value="#{category.id}"><%= category.name %></option>
    <% end %>
  </select>
</div>
