html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    background-color: #19353a;
}
footer.page-footer {
    background-color: #19353a;
}

body {
  background-color: #f0fff0;
}

nav .brand-logo {
    color: #53e256;
}
.green.lighten-1 {
    background-color: #a9a9a9 !important;
}

.btn, .btn-large {
    color: #fff;
    background-color: #a9a9a9;
}

.white-text {
    color: #53e256 !important;
}
nav ul li:hover {
   background-color: #53e256;
}

.button:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}
