<h2>My Orders</h2>

<div class="my-orders">
  <% @orders.each do |order| %>
  <%= link_to "Order#: #{order.id}", order_path(order) %> Order Date: <%= order.created_at.strftime("%D at %l:%M%P %Z") %>
  <br>
  <br>
  <% end %>
</div>
