<h1>Items</h1><br>
<div id="items">
  <% @items.each do |item| %>
    <%= item.title %>
    <%= item.price %>
    <%= item.description %>
    <%= button_to "Add to Cart",
        cart_path(item_id: item.id) %>
  <% end %>
</div>
