<h1>Items</h1><br>
<div class="items">
  <% @items.each do |item| %>
  <div class="item-card">
    <%= item.title %>
    <%= item.price %>
    <%= item.description %>
    <%= button_to "Add to Cart", cart_path(item_id: item.id) %>
  </div>
  <% end %>
</div>
